/* style */

body {
    margin: 0;
    padding: 0;
    /* background-image: url(https://orig00.deviantart.net/2c14/f/2015/161/e/e/the_looney_tunes_show_folder_icon_by_gterritory-d8wq5kd.png);
    background-repeat: no-repeat;
    background-attachment: fixed; 
    background-position: center; */
    background-color: #F0F2FC; 
    /* Second color choice DBDCE5 */
}

.text-size {
    font-size: 24px;
}

.section1 {
    float : right;
}

.cartoonButton{
    background-color: #CC8D28;
    border-radius: 16px;;
    color: white;
    /* font-size: 12px; */
}

img {
    padding: 10px;
}